.bredcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 20px; */
    padding: 0;
    left: 0;

    list-style-type: none;
}


.bredcrumbs__item:last-child::after {
    content: none;
}

.bredcrumbs__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.bredcrumbs__link:after {
    content: '';
    width: 5px;
    height: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--color-dark-blue);
}

.bredcrumbs__link[href] {
    font-size: 12px;
    color: var(--color-black);
    opacity: 1;
    text-decoration: none;
}

.bredcrumbs__link {
    opacity: .5;
}