.page__body {
  display: grid;
  grid-template-areas:
    "aside header"
    "aside main";
  grid-template-columns: 310px 1fr;
  grid-template-rows: min-content 1fr;
}

.page__header {
  padding: 40px 25px 21px 25px;
  grid-area: header
}

.page__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  grid-area: aside;
  border-right: 1px solid rgba(26, 30, 33, .1);
}

.page__main {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  padding: 0 40px 0 40px;
  grid-area: main;
}

.page__main-title {
  margin: 0;
  padding: 0;

  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}