.tags__list {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tags__item a {
    display: block;
    padding: 10px;

    border-radius: 4px;
    border: 1px solid var(--color-dark-blue);
    text-decoration: none;
    font-size: 14px;
}

.tags__item a:hover,
.tags__item a:focus {
    color: var(--color-white);
    background-color: var(--color-dark-blue);
}